* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* --- sub-header style start --- */

.sub-header {
  height: 50px;
  background-color: #fff;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
  margin: 0;
}

div {
  display: block;
}

.container {
  margin-left: 0px;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.column-left {
  width: 66.6667%;
  padding-left: 100px;
}

.column-right {
  width: 33.3333%;
  padding-right: 100px;
}

ul {
  margin-bottom: 0px;
}

ul li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.sub-header ul li {
  display: inline-block;
}
.sub-header ul.infor li {
  font-size: 14px;
  color: rgb(122, 122, 122);
  margin-right: 25px;
  padding-right: 25px;
  border-right: 1px solid rgb(238, 238, 238);
  display: inline-flex;
  padding: 10px 0px;
}

.sub-header ul.infor li .icon_infor {
  margin-right: 8px;
  margin-top: -3.5px;
  /* margin-top: 5px; */
  /* padding-top: 20px; */
}

.sub-header ul.infor .icon_infor {
  margin-top: 10px;
}

.sub-header ul.social-link {
  text-align: right;
}

.sub-header ul.social-link li {
  margin-left: 8px;
}

.sub-header ul.social-link li a {
  display: inline-block;
}

.sub-header ul.social-link li a:hover {
  box-shadow: 0 4px 0px rgba(98, 46, 19, 0.5);
  border-radius: 100px;
}
/* --- .sub-header style end --- */

/* --- header style start --- */
header {
  display: block;
}

.header-area {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 100px;
  transition: 0.5s;
  z-index: 100;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.header-area .main-nav {
  width: 100%;
  display: flex;
  background: transparent;
}

.header-area .main-nav .logo {
  padding-left: 100px;
  display: inline-block;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

.header-area .main-nav .logo h1 {
  line-height: 100px;
  font-size: 28px;
  text-transform: uppercase;
  color: rgb(30, 30, 30);
  font-weight: 700;
  letter-spacing: 2px;
}

.header-area .main-nav ul.nav {
  flex-basis: 100%;
  margin-top: 30px;
  justify-content: right;
  position: relative;
  z-index: 999;
  transition: 0.3s;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-right: 100px;
  margin-bottom: 0px;
  list-style: none;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  line-height: 100px;
}

.header-area .main-nav .nav li a.active {
  color: rgb(243, 85, 37);
}

.header-area .main-nav .nav li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  transition: 0.4s;
  color: #5f5f5f;
}

.header-area .main-nav .nav li:last-child a {
  background-color: #1e1e1e;
  color: #e1e1e1;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 20px;
  width: 200px;
  margin-top: -1px;
}

.header-area .main-nav .nav li:last-child a img {
  background-color: rgb(243, 85, 37);
  display: inline-block;
  width: 40px;
  height: 41px;
  text-align: center;
  padding: 8px;
  line-height: 40px;
  margin-right: 10px;
  margin-left: -1px;
  border-radius: 50%;
}

.header-area .main-nav .nav li:last-child p {
  margin-top: -55px;
  margin-left: 50px;
}

.header-area .main-nav .nav li a:hover {
  color: #f35525;
}

/* --- header style end --- */

.main-banner {
  margin: 0px;
  padding: 0px;
}

.main-banner .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 20% 320px 20px;
  margin-top: 0%;
}

.main-banner .item-1 {
  background-image: url(../image/banner-01.jpg);
}

.main-banner .item-2 {
  background-image: url(../image/banner-02.jpg);
}

.main-banner .item-3 {
  background-image: url(../image/banner-03.jpg);
}

.main-banner .item span.category {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 6px 15px;
  display: inline-block;
  margin-bottom: 30px;
}

.main-banner .item span.category em {
  font-style: normal;
  color: #f35525;
}

.main-banner .item h2 {
  font-size: 62px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 72px;
  width: 50%;
  margin-bottom: 0px;
}
